/* 
 * Adding a custom icon to a tinyMCE button
 * 
 *
    i.mce-i-[FONT-AWESOME-CLASSNAME]
	icon: 'icon [FONT-AWESOME-CLASSNAME]',
 
  
*/

i.mce-i-icon {
    font: 400 20px/1 dashicons;
    padding: 0;
    vertical-align: top;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -2px;
    padding-right: 2px
}

i.uix-shortcodes-icon{
	background-image:url(icon.png);
}


/* Tinymce toolbar menu icons*/

.uix-shortcodes-col:before{
	display: inline-block;
	width:145px;
	height:17px;
}
.uix-shortcodes-col-average-4:before{
	content:' ';
	background:url(../../admin/uixscform/images/column/average-4.png) no-repeat top center;
}

.uix-shortcodes-col-average-3:before{
	content:' ';
	background:url(../../admin/uixscform/images/column/average-3.png) no-repeat  top center;
}
.uix-shortcodes-col-average-2:before{
	content:' ';
	background:url(../../admin/uixscform/images/column/average-2.png) no-repeat  top center;
}

.uix-shortcodes-col-1_3-2_3:before{
	content:' ';
	background:url(../../admin/uixscform/images/column/1_3-2_3.png) no-repeat  top center;
}

.uix-shortcodes-col-2_3-1_3:before{
	content:' ';
	background:url(../../admin/uixscform/images/column/2_3-1_3.png) no-repeat  top center;
}

.uix-shortcodes-col-1_4-3_4:before{
	content:' ';
	background:url(../../admin/uixscform/images/column/1_4-3_4.png) no-repeat  top center;
}

.uix-shortcodes-col-3_4-1_4:before{
	content:' ';
	background:url(../../admin/uixscform/images/column/3_4-1_4.png) no-repeat  top center;
}


/* Code preview container*/
.uix-shortcodes-dialog {  
    width:500px;
	height:440px;
	padding:20px 0 0 20px;
    background:#e8e8e8;
    border: 1px solid #dadada;
    font-family:sans-serif;
	-webkit-box-shadow: 0 1px 15px rgba(0,0,0,.8);
	-moz-box-shadow: 0 1px 15px rgba(0,0,0,.8);
	box-shadow: 0 1px 15px rgba(0,0,0,.8);
	position:absolute;
	top:50%;
	margin-top:-250px;
	left:50%;
	margin-left:-250px;
	display:none;
	z-index:9999999;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;
}  

.uix-shortcodes-dialog-mask{
	display:none;
	z-index:9999998;
	background:rgba(0,0,0,.8);
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
}
	

.uix-shortcodes-dialog textarea{
	width:100%;
	height:90%;
}
.uix-shortcodes-dialog .close{
	display:inline-block;
	margin-top:3px;
}

@media all and (max-width: 540px) {
	
	.uix-shortcodes-dialog {  
		width: 300px;
		margin-left:-170px;
		
	}
	
}
